NODE_ENV=
DOMAIN=
SERVICE_NAME=
HEUREKA_SERVICE_PORT=
API_GATEWAY_PORT=
GATEWAY_PROXY_PORT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=
CATALOG_SERVICE_URL=
WAREHOUSE_SERVICE_URL=
ORDER_SERVICE_URL=
RABBITMQ_URL=
AUTH_SERVICE_URL=
JWT_SECRET=
LOGGING_SERVICE_URL=
NOTIFICATION_SERVICE_URL=
HTTP_TIMEOUT=
GATEWAY_TIMEOUT=
CORS_ORIGIN=
PAYMENT_APPLICATION_ID=
PAYMENT_SERVICE_URL=
PAYMENT_API_KEY=
PAYMENT_WEBHOOK_API_KEY=
PAYMENT_CALLBACK_URL=
PAYMENT_SUCCESS_URL=
PAYMENT_CANCEL_URL=
